CREATE TABLE IF NOT EXISTS "Proveedores" (
	"ID_Proveedor"	INTEGER,
	"Nombre"	TEXT,
	"Municipio"	TEXT,
	"Tipo_Producto"	TEXT,
	PRIMARY KEY("ID_Proveedor")
);
CREATE TABLE IF NOT EXISTS "Productos" (

	"ID_Producto"	INTEGER,

	"Nombre"	TEXT,

	"Peso"	INTEGER,

	"Animal"	TEXT,

	"ID_Proveedor"	INTEGER,

	PRIMARY KEY("ID_Producto"),

	FOREIGN KEY(ID_Proveedor) REFERENCES Proveedores('ID_Proveedor')

);
CREATE TABLE IF NOT EXISTS "Sucursales" (

	"ID_Sucursal"	INTEGER,

	"Nombre"	TEXT,

	"Zona"	    TEXT,

	"Capacidad"	INTEGER,

	"No_Empleados"	INTEGER,

	PRIMARY KEY("ID_Sucursal")

);
CREATE TABLE IF NOT EXISTS "Precios" (

	"ID_Precios"	INTEGER,

	"Fecha"	           TEXT,

	"ID_Producto"	    INT,

	"Precio"	       REAL,

	

	PRIMARY KEY("ID_Precios"),

	FOREIGN KEY(ID_Producto) REFERENCES Productos(ID_Producto)

);
CREATE TABLE IF NOT EXISTS "Produccion" (

	"ID_Produccion"	INTEGER,

	"Fecha"	           TEXT,

	"Planta"	       TEXT,

	

	

	PRIMARY KEY("ID_Produccion")

);
CREATE TABLE IF NOT EXISTS "Choferes" (

	"ID_Chofer"	INTEGER,

	"Nombre"	    TEXT,

	"Jefe"	        TEXT,

	'ID_Sucursal'   INTEGER,

	

	

	PRIMARY KEY("ID_Chofer" AUTOINCREMENT),

	FOREIGN KEY(ID_Sucursal) REFERENCES Sucursales(ID_Sucursal)

);
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE IF NOT EXISTS "Clientes" (

	"ID_Cliente"     	INTEGER,

	"Nombre"	       TEXT,

	"Municipio"	       TEXT,

	'Localidad'        TEXT,

	"Ocupacion"        TEXT,

	

	

	PRIMARY KEY("ID_Cliente" AUTOINCREMENT)

);
CREATE TABLE IF NOT EXISTS "Traspaso" (

	"ID_Traspaso"     INTEGER,

	"Fecha"	           TEXT,

	"Origen"	    INTEGER,

	"Destino"       INTEGER,

	"ID_Chofer"     INTEGER,

	"Completo"     INTEGER,

	"A_Tiempo"     INTEGER,

	

	

	PRIMARY KEY("ID_Traspaso"),

	FOREIGN KEY(Origen) REFERENCES Sucursales(ID_Sucursal),

	FOREIGN KEY(Destino) REFERENCES Sucursales(ID_Sucursal),

	FOREIGN KEY(ID_Chofer) REFERENCES Choferes(ID_Chofer)

);
CREATE TABLE IF NOT EXISTS "Salidas" (
	"ID_Salida"	INTEGER,
	"Fecha"	TEXT,
	"ID_Sucursal"	INTEGER,
	"ID_Cliente"	INTEGER,
	"Completo"	INTEGER,
	"A_Tiempo"	INTEGER,
	"Tipo"	TEXT,
	FOREIGN KEY("ID_Sucursal") REFERENCES "Sucursales"("ID_Sucursal"),
	FOREIGN KEY("ID_Cliente") REFERENCES "Clientes"("ID_Cliente"),
	PRIMARY KEY("ID_Salida")
);
CREATE TABLE IF NOT EXISTS "Movimientos" (

	"ID_Mov"	INTEGER,

	"Fecha"	TEXT,

	"ID_Traspaso"	INTEGER,

	"ID_Produccion" INTEGER,

	"ID_Salida" INTEGER,

	"ID_Sucursal"	INTEGER,

	"ID_Producto"	INTEGER,

	"Cantidad"	INTEGER,

	

	

	PRIMARY KEY("ID_Mov"),

	FOREIGN KEY("ID_Salida") REFERENCES "Salidas"("ID_Salida"),

	FOREIGN KEY("ID_Sucursal") REFERENCES "Sucursales"("ID_Sucursal"),

	FOREIGN KEY("ID_Traspaso") REFERENCES "Traspaso"("ID_Traspaso"),

	FOREIGN KEY("ID_Produccion") REFERENCES "Produccion"("ID_Produccion"),

	FOREIGN KEY("ID_Producto") REFERENCES "Productos"("ID_Producto")

);
CREATE INDEX idx_fecha_movimientos ON Movimientos(Fecha);
CREATE TABLE IF NOT EXISTS "Inv_Fisico" (

	"ID_Inv"	INTEGER,

	"Fecha"	TEXT,

	"ID_Sucursal"	INTEGER,

	"ID_Producto"	INTEGER,

	"Cantidad"	INTEGER,

	FOREIGN KEY("ID_Sucursal") REFERENCES "Sucursales"("ID_Sucursal"),

	FOREIGN KEY("ID_Producto") REFERENCES "Productos"("ID_Producto"),

	PRIMARY KEY("ID_Inv" AUTOINCREMENT)

);
